
.footer_outer_container {
  background-color: #141414; 
  color: #808080; 
  padding: 50px 10%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.footer_inner_container {
  max-width: 1000px;
  margin: 0 auto;
}

.social_icons {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.social_icons img {
  width: 25px;
  cursor: pointer;
  filter: invert(1);
}
.footer_data {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
  margin-bottom: 30px;
}

.footer_data ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_data li {
  margin-bottom: 12px;
  cursor: pointer;
}

.footer_data li:hover {
  text-decoration: underline;
}
.service_code {
  border: 1px solid #808080;
  padding: 5px;
  display: inline-block;
  margin-top: 10px !important;
  text-align: center;
  transition: 0.3s;
}

.service_code:hover {
  color: #fff;
  border-color: #fff;
  text-decoration: none !important;
}

.footer_copyright {
    font-size: 11px;
    margin-top: 20px;
}